/* fix the stop location of About Nav button
fix footer so it expands along with window size 
fix image aspect ratios?
fix different thicknesses of underlines in View Full Resume and View Full Project Archive*/

:root {
/* CSS variables - allows for easy reference to property values */
    --color-accent: #5eead4;
    /* variable name */
    --color-highlight: #e2e8f0ee;
}

* {
    box-sizing: border-box;
    /* prevents any element contents from overflowing */
    margin: 0;
    /* spacing on the outside of each element box */
    padding: 0;
    /* spacing on the inside of the element box btw content and edges */
    font-family: 'Inter', sans serif;
    /* primary and backup fonts */
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: #94a3b8d7;
    /* color: #94a3b8e7; */
    padding: 2rem 1.5rem;
    /* vertical and horizontal padding */
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* 1 column min and max width of the column 1 fr = 1 fraction of the width */
    gap: 6rem;
    /* gap = vertical spacing between elements */
}

h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    /* changes the spacing between the text */
}

p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}


p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    /* changing the behavior of all text when highlighted */
    background: var(--color-accent);
    color: #171f54;
    /* sets the color of the text when highlighted to match underlay background color */
}

.underlay {
    position: fixed;
    /* determines if the position of box is relative to other boxes or independent */
    background: #171f54;
    inset: 0;
    /* sets the left, right, top, and bottom positions of the element all at once */
    opacity: 0.1;
    /* lighter or darker shade */
}

header,
/* must use comma when chaining together different classes */
main,
footer {
    position: relative;
    /* this is the default position of elements */
    z-index: 10;
    /* defines the depth of elements front to back
    a higher value = closer to the front */
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    /* font-size: 1.2rem; */
    /* align-items: center;
    justify-content: center; */
}

header h1,
header h4 {
    color: var(--color-highlight);
}

header a {
/* don't need to use a comma when specifying children tags */
    text-decoration: none;
    /* removes the underline from the header */
}

header h1 {
    font-weight: 600;
    font-size: 2.5rem;
    /* How thick the text is */
}

header h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* padding-top: 4rem; */
    
}

nav p {
    font-size: 0.9rem;
}

.social-link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-link {
    color: inherit;
    text-decoration: none;
    transition-duration: 300ms;

}

.social-link:hover {
    color: var(--color-accent);
}



.light-text {
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    color: rgba(245, 245, 245, 0.958);
    /* color: var(--color-highlight); */

}


main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 1rem 0;
}

.sticky-header::before {
    content: "";
    position: absolute;
    inset: 0;
    /* occupy the same dimenstion as the parent element */
    background: #101a31;
    opacity: 0.9;
}

.sticky-header h2 {
    position: relative;
    z-index: 2;
}


.about-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-contents p {
    font-size: 1.1;
}

.anchor-text{
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 300ms;
    /* how long it takes for the color change to finalize */
}

.anchor-text:hover {
    color: var(--color-accent);
}

.experience-contents,
.project-contents {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.experience-card, 
.project-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* gap: 0.5rem; */
}

.experience-card {
    gap: 0.5rem;
    font-size: 0.9;
}

.project-card {
    gap: 1rem;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tenure {
    opacity: 0.75;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.card-header {
    font-weight: 350;
    font-size: 1rem;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    /* wraps text at smaller window sizes */
    gap: 0.5rem;
    color: var(--color-accent);
}

.tag {
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
    background: rgba(45, 212, 191, .1);
}

.tag p {
    font-size: 0.8rem;
}

.resume-text {
    position: relative;
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 300ms;
    margin-right: auto;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.resume-text span {
    transition-duration: 300ms;
}

.resume-text:hover span {
    padding-left: 0.35rem;
    /* 'animates' the arrow when hovered over */
}

.resume-text::after {
    content: '';
    /* content must be specified to empty, unless we want to add additional text */
    position: absolute;
    /* position becomes fixed to the nearest relative position element, in this case .resume-text */
    left: 0;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    background: transparent;
}

.resume-text:hover::after {
    /* pseudo-code element */
    transition-duration: 300ms;
    background: var(--color-accent);
}

.project-image-container {
    max-width: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    order: 2;
    /* changes order of elements */
    border-radius: 0.25rem;
}

.project-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-archive-link {
    position: relative;
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 300ms;
    margin-right: auto;
    font-size: 1rem;
    letter-spacing: 0.05em;
}

.project-archive-link span {
    transition-duration: 300ms;
}

.project-archive-link:hover span {
    padding-left: 0.35rem;
    /* 'animates' the arrow when hovered over */
}

.project-archive-link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    background: transparent;
}

.project-archive-link:hover::after {
    transition-duration: 300ms;
    background: var(--color-accent);
}

.social-link-container i {
        font-size: 1.5rem;
    }

/* 3 screen size configurations [mobile (default), 640 - 1024px, 1024+px) - 2 breakpoints */
/* breakpoint #1 below (for screensize between 640px and 1024px) */

@media (min-width: 640px) {

    body {
        padding: 5rem 3rem;
    }

    .project-card,
    .experience-card {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        /* columns are set to 4 because we will make 1 column take up 3/4ths of the space */
    }

    .card-column {
        grid-column: span 3 / span 3;
        /* setting one column to occupy the space of 3  */
    }

    .project-image-container {
        order: 0;
    }

    header {
        max-width: unset;
        /* removes previous value assigned to it */
    }

    nav p {
    font-size: 0.95rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header h4 {
        font-size: 1.3rem;
    }

    header p {
        max-width: 500px;
    }

    .social-link-container {
        gap: 1.5rem;
    }

    .social-link-container i {
        font-size: 2rem;
    }

    footer {
        flex-direction: row;
        max-width: 500px;
    } 
}


/* breakpoint #2 below (for screensize between 1024px) */

@media (min-width: 1024px) {
    
    body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
        padding: 4rem 3rem;
        padding-top: 0;
    }

    header {
        position: sticky;
        top: 0;
        margin-left: auto;
        height: 100vh; 
        padding-right: 5rem;
        padding-bottom: 6rem;
    }

    header h1 {
    font-size: 3rem;
    }

    header h4 {
    font-size: 1.3rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 2rem;
        /* flex: 1; */
    }

    nav p {
    font-size: 0.95rem;
    }

    .social-link-container {
        margin-top: auto;
    }

    .social-link-container i {
        font-size: 2rem;
    }

    main {
        margin-right: auto;
    }

    header,
    main {
        padding-top: 6rem;
        max-width: 600px; 
        width: 100%;
    }

    .sticky-header {
        display: none;
    }

    footer {
        grid-column: span 2 / span 2;
        flex-direction: row;
        max-width: 1400px;
        margin: 0;
        width: 500px;
    }
}


