* {
/* Asterisk dictates that these changes apply to the ENTIRE HTML doc */
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
   font-family: 'Inter', sans-serif;
   /* Main (Inter) and backup (sans-serif) fonts */
   
}

.google-header {
/* targets a specific class */
    font-family: 'Poppins', sans-serif;    
}

header {
    display: flex ;
    /* More about flex https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Flexbox */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* rem = some kind of basic unit */
    gap: 1rem;
}

body {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.text-link, footer a {
    /* footer a - a applies to all the anchors within the footer */
    color: inherit;
    text-decoration: none;
}

.text-link:hover, footer a:hover {
/* targets hover state */
    text-decoration: underline;
}

 .nav-container-second .text-link {
    display: none;
    /* hides the elements */
}


.icon-link {
    font-size: 0.9rem;
    color: inherit;
    width: 24px;
    /* px = pixel */
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: grid;
    place-items: center;

}

.icon-link:hover {
    background:rgb(235, 234, 234);
}

.img-button {
    border: none;
    background: transparent;
}

.img-button img {
/* targetting a specific tag within a class */
    width: 30px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem;
    /* first padding for vertical directions, second for horizontal */

}

.title-text {
    font-size: 4rem;
}

.input-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgb(235, 234, 234);
    padding: 1rem;
    border-radius: 1rem;
}


.input-bar:hover,
.input-bar:focus-within {
    box-shadow: 0 0 4px 1px rgb(244, 235, 235);
}

.input-bar input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;
}

.input-bar div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-icon {
background: transparent;
border: none;
}

.input-icon:hover {
    opacity: 0.75;
}

.button-grid {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button-grid button {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background: rgb(233, 230, 230);
    border-radius: 0.25rem;
}

.button-grid button:hover {
    border: 1px solid slategray;
}

footer {
    background:rgb(239, 234, 234);
    font-size: 0.7rem;
}

footer > div {
/* > targets ONLY the direct child tag (div) of the footer element, not further down nested divs */
    padding: 1rem;
    font-size: 0.7rem;
}

.footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

}

.footer-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 640px) {
/* media query specifies conditions or regions where certain styles are applied, in this case at certain screen dimensions */
/* mobile first design = best principle */
/* not what we did as we built */

    footer, footer > div {
        background:rgb(239, 234, 234);
        font-size: 0.8rem;
    }
    .footer-grid {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .nav-container-second .text-link {
    display: block;
    /* block is the default display */
}

}